
body{
    background-image: url("https://image.slidesdocs.com/responsive-images/background/poster-flat-traditional-food-gourmet-creative-powerpoint-background_67b5c81b8c__960_540.jpg");
    margin:0;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: none
    ;
}
.titulo{
    text-align: center;
    font-family:  sans-serif;
    font-weight: bold;
    font-style: italic;
    color: #fadd0e;
    text-decoration: underline;
    font-size: 60px;
}
.foto{
    width:300px;
    height: 200px;
    margin-left: 525px;
    border-radius: 50% ;
}
.desarollo{
    background-color:#fff8 ;
    padding:10px;
    border-radius: 10px;
    text-align: justify;
    font-weight: 600;
    font-family: sans-serif ;
    color: #000;
    font-style: italic;
    width:80vw;
    margin:auto;
    font-size: 20px;
    border:3px solid #f45703;
}
.texto{
    padding:5px;
    font-size: 20px;
    font-weight: bold;
}
.subtitulo{
    color:#f45703
}
.parte,
.pasos{
    color:#fc1507
}
